e-focus * [tabindex="0"]:focus {
  outline: none;
}
/*************************************************************************/
.bg-transparent {
  background: transparent;
}
.hide {
  display: none !important;
}
.hover-color-black:hover {
  color: #111;
}
.hover-color-red:hover {
  color: #ce114f;
}
.hover-color-grey:hover {
  color: #6d6d6d;
}
.u-position-st {
  position: static;
}
.u-position-rel {
  position: relative;
}
@media(max-width: 1023px) {
  .show-for-large-only {
    display:none;
  }
}
button,
select {
  font-family: inherit;
}
/*************************************************************************/
/* Global Header */
.loc-flag {
  width: 14px;
  height: 11px;
  background: url("/bowerman/api/media/2793f6e0-8e91-11e7-b9ea-412f2eceb488/US.png") center center no-repeat;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .loc-flag {
    background: url("/bowerman/api/media/2793f6e0-8e91-11e7-b9ea-412f2eceb488/US@2x.png") center center no-repeat;
    background-size: 100%;
  }
}

.member-nav-item {
  position: relative;
}

.cart-count-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}

.member-nav-item {
  &.has-submenu {
    &:hover {
      -webkit-box-shadow: inset 0px -2px 0px 0px #111;
      box-shadow: inset 0px -2px 0px 0px #111;
      > .member-nav-item-dropdown {
        display: block;
      }
    }
  }
}

.member-nav-item-dropdown {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  min-width: 180px;
  -webkit-box-shadow: inset 0 0px 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
  box-shadow: inset 0 0px 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
  z-index: 101;
}

.primary-nav-item:hover {
  -webkit-box-shadow: inset 0px -2px 0px 0px #111;
  box-shadow: inset 0px -2px 0px 0px #111;
  .global-nav-dropdown {
    max-height: 1000px;
    opacity: 1;
  }
}

.global-nav-dropdown {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.nav-dropdown-container {
  max-width: 1024px;
  margin: 0 auto;
}

.mod-ncss-input-container {
  overflow: visible;
  max-width: 100%;
  .global-search-input, .twitter-typeahead {
    width: 100%;
  }
}

.global-search-container .mod-ncss-input-container {
  width: 200px;
  float: right;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.focus .mod-ncss-input-container {
  width: 250px;
}

.modal-search-sm {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  &.show {
    opacity: 1;
  }
  &.display {
    display: block;
  }
}

.btn-close-search {
  position: absolute;
  top: 6px;
  right: 20px;
}

.ncss-input-container {
  .mobile-search-input {
    -webkit-box-shadow: inset 0px -1px 0px 0px #e5e5e5;
    box-shadow: inset 0px -1px 0px 0px #e5e5e5;
      &:focus {
      -webkit-box-shadow: inset 0px -1px 0px 0px #e5e5e5;
      box-shadow: inset 0px -1px 0px 0px #e5e5e5;
    }
  }
}

.modal-search-sm .twitter-typeahead {
  width: 100%;
}

.btn-clear-input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}

.btn-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 9px;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  &.show {
    display: block;
  }
}

.offcanvas-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  max-width: 85%;
  width: 320px;
  height: 100%;
  opacity: 0;
  padding-left: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &.display {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  &.display {
    display: block;
  }
}

.menu-panel {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.nav-panel {
  display: none;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  &.slide-in {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  &.display{
    display: block;
  }
  &.fixed {
    position: fixed;
    max-height: 100%;
    overflow: hidden;
  }
}

.profile-avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.close-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-back {
  position: relative;
  &> .icon {
    left: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.has-submenu {
  position: relative;
  > .icon {
    right: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.mod-extra-margin {
  margin-top: 400px;
}
/*************************************************************************/
.focus .mod-ncss-input-container {
  width: 250px;
}

.mod-ncss-input-container {
  overflow: visible;
  max-width: 100%;
  .global-search-input {
    width: 100%;
  }
}

.global-search-container .mod-ncss-input-container {
  width: 200px;
  float: right;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn-clear-input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}

.btn-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 9px;
}
/*************************************************************************/
/* Default Footer Styles */
/*************************************************************************/
/* Guide List CSS */
.expand-icon {
  position: absolute;
  right: -15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Tablet-up Specific Styles */
@media only screen and (min-width: 640px) {
  .no-border-md {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/* Desktop Specific Styles */
@media only screen and (min-width: 1024px) {
  .align-right-up {
    text-align: right;
  }
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
}

.hero-wrapper {
  height: 337px;
  margin: 0px 0px 30px 0px;
}

.hero-banner {
  background-image: url('../img/bluejackets940.jpg');
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
	display: block;
	height: 335px;
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	margin-top: inherit;
  @media(max-width: 1920px) {
    width: 100vw;
  }
  @media(min-width: 1920px){
    width: 73vw
  }
}

.course-card .field-body p {
  margin-right: 20px;
}

.course-card .field-course-image img {
  @media(min-width:480px){
    max-width: 300px;
  }
  /*
  @media(min-width: 1200px) {
    max-width: 425px;
    min-width: 425px;
  }
  */
}

/* Course Node */
.field.title {
  @media(min-width: 1024px) {
    h1 {
      margin-top: -12px;
    }
  }
}
.field.course-button {
  position: absolute;
  @media(max-width: 480px){
    top: 50%;
    left: 160px;
  }
  @media(min-width: 480px) {
    top: 45%;
    left: 95px;
  }
  @media(min-width: 1025px) {
    top: 65%;
    left: 160px;
  }
  border: 1px solid white;
  &.ncss-btn-black {
    a {
      color: white;
    }
  }
}
.field.course-status {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #f7f7f7;
  .status-icon {
    position: relative;
    display: inline-block;
    margin-bottom: -8px;
    min-height: 70px;
    min-width: 70px;
    &.course-unlocked {
      background-image: url('../img/status-unlocked.png');
      background-repeat: no-repeat;
      background-color: #111;
    }
  }
  p {
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 20px;
  }
}
.ncss-container {
  .activity-details {
    margin-top: 20px;
    -webkit-box-shadow: inset 0 1px 0 0 #e5e5e5;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
  }
}
/*************************************************************************/
/****** Accordion ******/
/* Accordion Container */
.accordion-layout {
  .section-layout {
    .section-content {
     display: none;
    }
  }
}
/* Accordion Section Header */
.accordion-header-component {
  cursor: pointer;
}

.open-close {
  &.g72-arrow-thick-down {
    &:before {
      content: '';
    }
    &:after {
      content: '\E007';
    }
  }
  &.g72-arrow-thick-up {
    &:before {
      content: '';
    }
    &:after {
      content: '\E00A';
    }
  }
  span {
    border: 1px solid #111;
    padding: 5px;
    margin-right: 10px;
  }
}
